<a href="https://colab.research.google.com/github/pushpendra0907/TaskByObjectWays/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# reversed string by using reversed keyword
s="durga"
r=reversed(s)
output= ''.join(r)
print(output)

agrud

In [ ]:
# By using slicing
s="Durga"
print(s[::-1])

agruD

In [ ]:
s="durga"
print(s[-4:])

urga

In [ ]:
#by using while loop
s="durga"
output=''
i=len(s)-1
while i>=0:
  output=output+s[i]
  i=i-1
print(output)

agrud

In [ ]:
#write a program to reversed order of word

s=input("Enter Any String:  ")
l=s.split()
l1=l[::-1]
print(l1)

Enter Any String:  hello duniya india today
['today', 'india', 'duniya', 'hello']

# New Section

In [ ]:
#write a program to reversed order of word

s=input("Enter Any String:  ")
l=s.split()
l1=l[::-1]
output= ' '.join(l1)
print(output)
print(ord('a'))

Enter Any String:  hi kese ho
ho kese hi
97

In [ ]:
d={"x":1,"y":2}
for k in d:
  print(d(x))

NameError: ignored

In [ ]:
str= "hello"
print(list(str))

['h', 'e', 'l', 'l', 'o']

In [ ]:
squre={i:i**2 for i in range(10)}
squre

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
list1=[1,2,3,4,5]
tup=(5,6,7,8,9)
op = list(map(lambda x,y:x*y,list1,tup))
print(op)

[5, 12, 21, 32, 45]

In [ ]:
str="asdsa"

if str == str[::-1]:
   print("palindrom")

else:
  print("not palindrom")

palindrom

In [ ]:
df df

In [ ]:
n=eval(input("please enter the number"))
s=str(n)
if s==s[::-1]:
  print("the number is plandrome")
else:
  print("the number is not palindrome")

please enter the number32121
the number is not palindrome

In [ ]:
def is_palindrome(n):
    # Convert the number to a string
    s = str(n)
    
    # Check if the string is equal to its reverse
    return s == s[::-1]

n = 12321
if is_palindrome(n):
    print(f"{n} is a palindrome")
else:
    print(f"{n} is not a palindrome")

12321 is a palindrome

In [ ]:
n=12321

str1=str(n)
if str1 == str1[::-1]:
  print("palindrome")
else:
  ("not p")

In [ ]:

str1="ilttle"
list1={}
for i in str1:
  if i in list1:
    list1[i]+=1
  else:
    list1[i]= 1
print(str(list1))

{'i': 1, 'l': 2, 't': 2, 'e': 1}

In [ ]:
list1=[2,3,4,5,6,7]
count=0
list2=[]
for i in list1:
  list2.append(i)
  for j in list2:

    if list2[0]+list1[-1]==9:
      count=count+
    else:
       print("no")    
print(count)

1

In [ ]:
list1=[2,3,4,5,6,7]
count=0
list2=[]
for i in list1:
  list2.append(i)
  
print(list2)

print(list2[-1])

IndexError: ignored

In [ ]:
strings = ['apple', 'banana', 'orange', 'grape']

joined_string = ','.join(strings)

print(joined_string)

apple,banana,orange,grape

In [ ]:
d={100:'a',200:'b',300:'c'}
print(d)
d[100]='durga'
print(d)

{100: 'a', 200: 'b', 300: 'c'}
{100: 'durga', 200: 'b', 300: 'c'}

In [ ]:
lst=[[10,20,30],[40,0,50],[60,70,80]]
ls=[]
for x in lst:
  for y in x:
    ls.append(y)
print(ls)

[10, 20, 30, 40, 0, 50, 60, 70, 80]

In [4]:
s= "helloPushpendra"
print(s[0:-1:2])

hlouhed

In [2]:
s="B4A3S2C1"
print(sorted(s))
l=''.join(sorted(s))
print(l)

['1', '2', '3', '4', 'A', 'B', 'C', 'S']
1234ABCS

In [ ]:
my_list=[10,20,30,40,50]
largest_number= my_list[0]
print(max(my_list))
for num in my_list:
  if num >largest_number:
    largest_number=num
print(largest_number)

50
50

In [ ]:
numbers = [1, 2, 3, 4, 5]

product = 1

for num in numbers:
    product *= num

print(product)

120

In [ ]:
lst =['ketrina','kareena','shradha','rashmika','akanksha','anupama']

for s in lst:
  if s[0]=='r':
    print(s)
#################   or  ##############
s= list(filter(lambda name:name[0]=='k',lst))
print(s)

rashmika
['ketrina', 'kareena']

In [ ]:
keys = ['name', 'age', 'city']
values = ['John', 25, 'New York']

dictionary = dict(zip(keys, values))

print(dictionary)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [ ]:
sentence = "This is a sentence. This sentence contains many words."
word_count = {}
for word in sentence.split():
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1
print("Word count:", word_count)

Word count: {'This': 2, 'is': 1, 'a': 1, 'sentence.': 1, 'sentence': 1, 'contains': 1, 'many': 1, 'words.': 1}

In [ ]:
list1  = ['USA', 'RUSSIA', 'INDIA', 'FRANCE']
#{'USA':3, 'RUSSIA',:6 'INDIA',:5 'FRANCE':5}
dec ={}

dec[list1[0]]= 3
dec[list1[1]]= 6
dec[list1[2]]= 5
dec[list1[3]]= 5
print(dec)

{'USA': 3, 'RUSSIA': 6, 'INDIA': 5, 'FRANCE': 5}

In [ ]:
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}

my_dict["Occupation"]="programmer"

for i,j in my_dict.items():
  print(i,j)

name John
age 30
city New York
Occupation programmer

In [ ]:
#find the nubmer is palindrome
number= int(input("Enter the number"))

temp=number

reverse=0
while(number>0):
  digit= number%10
  reverse=reverse*10+digit
  number=number//10
if temp==reverse:
  print("the nuber is palindrome")
else:
  print("not a palindrome")

Enter the number12345
not a palindrome

In [ ]:
for f in range(0,20):
  if f%2==0:
    print(f)

0
2
4
6
8
10
12
14
16
18

In [ ]:
numns=[1,2,3,4,5,6,7,8,9]

even_num=list(map(lambda x:x*2,numns))
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
lst=[
  {"name": "Tom", "age": 10},
  {"name": "Mark", "age": 5},
  {"name": "Pam", "age": 7}
]

print(sorted(lst,key=lambda i:i['age']))

[{'name': 'Mark', 'age': 5}, {'name': 'Pam', 'age': 7}, {'name': 'Tom', 'age': 10}]

In [ ]:
ls=[2,3,4,5,6,7]
count=0
start=0
end= len(ls)-1
while start<=end:
  print(ls[start]+ls[end])
  start+=1
  end-=1
  count=count+1
print(count)

9
9
9
3

In [ ]:
l=[1,2,3,4,5,6,7,8]

def squreit(n):
  return n*n
l1=list(map(squreit,l))
print(l1)

[1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
l=[1,2,3,4,5,6,7,8]
l1=[1,20,3,41,5,6,7,8]
def multi(x,y):
  return x*y
l2= list(map(multi,l,l1))
############## or #################
l3= list(map(lambda x,y : x*y,l,l1))
print(l3) 
print(l2)

[1, 40, 9, 164, 25, 36, 49, 64]
[1, 40, 9, 164, 25, 36, 49, 64]

In [ ]:
lst= eval(input("Enter elements"))
print(lst)

Enter elements[10,20,20,30,40]
[10, 20, 20, 30, 40]

In [ ]:
def outer():
  print("hello outer")
  def inner():
    print("hello inner")
  inner()  
outer() 
outer()

hello outer
hello inner
hello outer
hello inner

In [ ]:
s = "anagram"
t = "nagaram"

if sorted(s) == sorted(t):
  if len(s) == len(t):
    print(True)
else:
    print(False)

True